<div class="set-center flex-column form h-auto mt-3">
  <div class="card shadow" style="width: 36rem;">
    <div class="card-header">
      <h2 class="text-center mt-2">Book Form</h2>
    </div>
    <div class="card-body">
      <!--Error Message-->
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <p class="text-danger"><%= error %></p>
        <% end %>
      <% end %>
      <!-- Form Started Here -->
      <%= form_with model: @book do |f| %>
        <br>
        <%= f.label :book_name, "Book Name :", class:"mt-3" %>
        <%= f.text_field :book_name, placeholder: "Enter Book Name Here", class:"mb-2 form-control" %>
        <br>
        <%= f.label :genre, "Genre :" %>
        <%= f.text_field :genre, placeholder: "Enter Genre of Book Here", class:"mb-2 form-control" %>
        <br>
        <%= f.label :author_name, "Author :" %>
        <%= f.text_field :author_name, placeholder: "Enter Author Name Here", class:"mb-2 form-control" %>
        <br>
        <%= f.label :summary, "Summary :" %>
        <%= f.text_area :summary, rows: 8, placeholder: "Enter Book's Summary Here", class:"mb-2 form-control" %>
        <br>
        <%= f.label :price, "Price :" %>
        <%= f.number_field :price, placeholder: "Enter Book Price Here", class:"mb-2 form-control" %>
        <br>
        <%= f.label :published_date, "Published Date :" %>
        <%= f.date_field :published_date, class:"mb-2 form-control" %>
        <br>
        <div class="d-flex justify-content-center">
          <%= f.submit "Save Book", class:"btn-secondary border-0 shadow py-2 px-5" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
